<!-- footer.component.html -->

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <!-- Column 1 -->
      <div class="col-md-3">
        <h5>Column 1</h5>
        <ul class="list-unstyled">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>

      <!-- Column 2 -->
      <div class="col-md-3">
        <h5>Column 2</h5>
        <ul class="list-unstyled">
          <li><a href="#">Link 4</a></li>
          <li><a href="#">Link 5</a></li>
          <li><a href="#">Link 6</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-md-3">
        <h5>Column 3</h5>
        <ul class="list-unstyled">
          <li><a href="#">Link 7</a></li>
          <li><a href="#">Link 8</a></li>
          <li><a href="#">Link 9</a></li>
        </ul>
      </div>

      <!-- Column 4 -->
      <div class="col-md-3">
        <h5>Column 4</h5>
        <ul class="list-unstyled">
          <li><a href="#">Link 10</a></li>
          <li><a href="#">Link
