<div class=" main-container">

  <div class="container-fluid">

    <div class="row">

      <!-- Column 1 - 15% width on larger screens -->
      <div class="col-md-2 col-4 d-none d-md-block">
        <p>Column 1</p>
      </div>

      <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

        <div class="menu-heading-container">
          <div class="menu-headings">{{headerHeading}}</div>
        </div>

        <div class="main-content">
          <div class="d-flex justify-content-center">
            <img [src]="visions" class="d-block" style="width: 30%; height: auto;" alt="...">
          </div>

          <div class="vision_heading_1">
            <div> <i class="fa-solid fa-key fa-fade"></i></div>
            Key values
          </div>

          <div class="row">

            <div class="col-md-4 col-12">
              <div class="vision_content_main">
                <div class="vision_heading_2">
                  Enquiry
                </div>
                <div class="vision_content">
                  <p>Learning to develop research and lifelong learning skills are fundamental to developing students’
                    self-reliance, independence and ability to identify, investigate and solve problems.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="vision_content_main">
                <div class="vision_heading_2">
                  Resilience
                </div>
                <div class="vision_content">
                  <p>Resilience operates within the social framework of daily life. It is an ability to develop positive
                    bonds with peers, manage small challenges, and trust one’s responsibility.
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="vision_content_main">
                <div class="vision_heading_2">
                  Communication
                </div>
                <div class="vision_content">
                  <p>Communication
                    Well developed communication skills are vital to a child’s academic success. At all levels of
                    education,
                    students must be able to communicate effectively.
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4 col-12">
              <div class="vision_content_main">
                <div class="vision_heading_2">
                  Thoughtfulness
                </div>
                <div class="vision_content">
                  <p>The quality of thinking carefully about how to do something so that it is effective; and of being
                    kind
                    and thinking about other people’s needs.
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="vision_content_main">
                <div class="vision_heading_2">
                  Cooperation
                </div>
                <div class="vision_content">
                  <p>By working cooperatively, pupils are able to develop skills of individual responsibility,
                    interdependence, equal participation and interaction.
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="vision_content_main">
                <div class="vision_heading_2">
                  Respect
                </div>
                <div class="vision_content">
                  <p>Be tolerant and respectful of other beliefs and views contrary to their own, and be able to
                    identify
                    and combat discrimination.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Column 3 - 15% width on larger screens -->
      <div class="col-md-2 col-12 d-none d-md-block">
        <p>Column 3</p>
      </div>
    </div>
  </div>
</div>
