<div class=" main-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-4 d-none d-md-block">

            </div>


            <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">


                <div class="menu-heading-container">
                    <div class="menu-headings">{{headerHeading}}</div>
                </div>
                <!-- *********************** First Heading Ends Here **************************** -->

                <!-- *********************** Main Content Starts Here **************************** -->
                <div class="main-content">
                    <div class="content-container content-bg">
                        <div class="row">
                            <div class="col-md-4 d-flex align-items-center justify-content-center">
                                <div class="headteacher-img">
                                    <img src="assets/head-teacher/Alan Hodges Final.jpg" alt="Photo"
                                        class="img-fluid passport-size">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div>

                                    <div class="row">

                                        <div>
                                            <div class="page-content-para-heading"> Dear Parents & Carers</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <div class="page-content-para">On behalf of all the children, staff and
                                                Governors we would like
                                                to
                                                offer you a warm welcome to
                                                Denbigh Primary School</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div>
                                            <div class="page-content-para">
                                                <p>
                                                    Denbigh Primary School is an exciting and happy place to learn. We
                                                    are dedicated to
                                                    excellence
                                                    in all that we do. Our dedication permeates our determination to
                                                    provide our children
                                                    with as
                                                    many opportunities and experiences as possible.
                                                </p>

                                                <p>
                                                    Our strong pastoral structure results in positive, caring
                                                    relationships between our staff, governors
                                                    families and pupils. Working in close partnership with families, we
                                                    ensure they are fully involved
                                                    in
                                                    their child’s education and understand how to support their
                                                    progress.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div>
                                <div class="page-content-para">


                                    <p>
                                        We have a great deal to be proud of, including the outstanding
                                        behaviour of our pupils and our national and international
                                        achievements. Through inspirational educational visits, high-quality
                                        sports and PE provision, exploration of music and the Arts with
                                        specialist teachers and a cutting-edge approach to ICT and
                                        technology, we believe that we provide all of our children with the
                                        drive and the capability to succeed.


                                    </p>

                                    <p>

                                        Our curriculum is inspiring, engaging and thorough; providing all of
                                        our pupils with the skills, knowledge and understanding to enable
                                        them to thrive in their academic journey.
                                    </p>


                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-4" style="text-align: right;">
                                <p> Yours faithfully
                                </p>
                                <p> Mr A Hodges</p>
                                <p> Headteacher</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-4 d-none d-md-block">

                </div>
            </div>
        </div>
    </div>



    <!-- <div class="main-container">
    <div class="">
        <div class="row">
            <div>

                <div>
                    <div class="page-heading">HEADTEACHER’S WELCOME</div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <div class="headteacher-img">
                    <img src="assets/head-teacher/Alan Hodges Final.jpg" alt="Photo" class="img-fluid passport-size">
                </div>
            </div>
            <div class="col-md-8">
                <div>
    
                    <div class="row">
    
                        <div>
                            <div class="page-content-para"> Dear Parents & Carers</div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div>
                            <div class="page-content-para">On behalf of all the children, staff and Governors we would like
                                to
                                offer you a warm welcome to
                                Denbigh Primary School</div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div>
                            <div class="page-content-para">
                                <p>
                                    Denbigh Primary School is an exciting and happy place to learn. We are dedicated to
                                    excellence
                                    in all that we do. Our dedication permeates our determination to provide our children
                                    with as
                                    many opportunities and experiences as possible.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div>
                <div class="page-content-para">
                    <p>
                        Our strong pastoral structure results in positive, caring relationships between our staff, governors
                        families and pupils. Working in close partnership with families, we ensure they are fully involved
                        in
                        their child’s education and understand how to support their progress.
                    </p>
    
                    <p>
                        We have a great deal to be proud of, including the outstanding
                        behaviour of our pupils and our national and international
                        achievements. Through inspirational educational visits, high-quality
                        sports and PE provision, exploration of music and the Arts with
                        specialist teachers and a cutting-edge approach to ICT and
                        technology, we believe that we provide all of our children with the
                        drive and the capability to succeed.
    
    
                    </p>
    
                    <p>
    
                        Our curriculum is inspiring, engaging and thorough; providing all of
                        our pupils with the skills, knowledge and understanding to enable
                        them to thrive in their academic journey.
                    </p>
    
                    <p> Yours faithfully
                    </p>
                    <p> Mr A Hodges</p>
                    <p> Headteacher</p>
                </div>
            </div>
        </div>
    
    </div>

    
</div> -->