<div class=" main-container">

    <div class=" main-container">



        <div class="container-fluid">

            <div class="row">

                <!-- Column 1 - 15% width on larger screens -->
                <div class="col-md-2 col-4 d-none d-md-block">
                    <!-- <p>Column 1</p> -->
                </div>

                <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

                    <div class="menu-heading-container">
                        <div class="menu-headings">{{headerHeading}}</div>
                    </div>

                    <div class="main-content">

                        <div class="row">
                            <div class="col-md-4 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-hands-holding-child"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="child-on-child-abuse" routerLinkActive="active-link"> Child on Child Abuse</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-4 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-shield"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="safeguarding-Child-protection" routerLinkActive="active-link">  Safeguarding & Child Protection</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-file-shield"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="online-safety" routerLinkActive="active-link">  Online Safety</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            <div class="row">
                             <div class="col-md-4 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-user-shield"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="safer-recruitment" routerLinkActive="active-link">  Safer Recruitment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-brain"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="low-level-concerns " routerLinkActive="active-link">  Low Level Concerns </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-bell"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="whistleblowing" routerLinkActive="active-link">  Whistleblowing </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4 col-12">
                                   <!-- <div class="cont">
                                       <div class="icon-font">
                                           <i class="fa-solid fa-people-group"></i>
                                       </div>
                                       <div class="center">
                                           <div class="link-title">
                                              <a routerLink="safer-recruitment" routerLinkActive="active-link">  Safer Recruitment</a>
                                           </div>
                                       </div>
                                   </div> -->
                               </div>
   
                               <div class="col-md-4 col-12">
                                   <div class="cont">
                                       <div class="icon-font">
                                        <i class="fa-solid fa-person-harassing"></i>
                                       </div>
                                       <div class="center">
                                           <div class="link-title">
                                              <a routerLink="allegations-of-abuse-against-teachers-and-staff " routerLinkActive="active-link">  Allegations of Abuse Against Teachers & Staff </a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
   
                               <div class="col-md-4 col-12">
                                   <!-- <div class="cont">
                                       <div class="icon-font">
                                           <i class="fa-solid fa-people-group"></i>
                                       </div>
                                       <div class="center">
                                           <div class="link-title">
                                              <a routerLink="whistleblowing" routerLinkActive="active-link">  Whistleblowing </a>
                                           </div>
                                       </div>
                                   </div> -->
                               </div>
   
                               </div>
                            
                         
                       

                    

                    <!-- pdf-viewer.component.html -->


                </div>

                <!-- Column 3 - 15% width on larger screens -->
                <div class="col-md-2 col-12 d-none d-md-block">
                    <!-- <p>Column 3</p> -->
                </div>
            </div>


        </div>

    </div>

</div>