<p>year-two works!</p>
<div class=" main-container">
    <div class="row">
        <div class="page-banner">
            <img class="page-banner-img" src="assets/slider_images/1.jpeg" alt="">
            <div class="text-overlay menu-headings"><span> <i class="fas fa-graduation-cap"></i></span>
                Year 2 Overview</div>

        </div>
    </div>

    <div class="row">
        <!-- Col 1 -->
        <div class="col-md-2 col-4 d-none d-md-block">
          
        </div>

        <!-- Col 2 -->
        <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

            <div class="row">

                <div class="col-md-12 col-12">

                    <div class="col-section">


                        <div class="section-content">

                            <p class="heading-p"><span><i class="fas fa-star"></i></span> Welcome to Year 2 at Denbigh
                                Primary School!</p>

                            <p class="content-p">The learning in Year 2 is a continuation of the journey started in EYFS
                                and Year 1. We build upon the children's foundations to ensure that they are secure in
                                key skills that will enable them to flourish as they move into Key Stage 2. We provide
                                an inclusive, engaging and vibrant learning environment through a Continuous Provision
                                approach.</p>

                            <p class="content-p">
                                All pupils complete a project each week that enables them to develop their enquiry
                                skills, gives them autonomy over their learning, and allows them to become confident,
                                independent learners. Through small group teaching, all children are encouraged to be
                                resilient and to reach their full potential. In Year 2, children complete their Phonics
                                Screen Check and Standard Assessment Tests (SATs) during the Summer Term.
                            </p>

                        </div>

                        <div class="section-content">
                            <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> We ensure that our Year 2
                                pupils have an engaging and broad curriculum that is based around 6 topics.</p>

                            <div>

                                <div class="topics-ul">Treasure Islands</div>
                                <ul class="fa-ul">
                                    <li><span class="note-fa fa-li"> <i class="fas fa-check"></i></span>(Geography,
                                        Science, History) - Arrrrrrhh! Ahoy there me hearties! Year 2 jump onboard a
                                        pirate ship and explore what life during The Golden Age of Piracy and about the
                                        places that Pirates sailed to. We learn how to use maps to identify the
                                        continents of the world and we learn about our own area through local walks and
                                        by drawing maps.

                                    </li>
                                </ul>

                                <div class="topics-ul">The Magic Toy Maker</div>
                                <ul class="fa-ul">
                                    <li><span class="note-fa fa-li"> <i class="fas fa-check"></i></span>(History,
                                        Science, D.T.) - We step into a toy shop and learn about how toys have changed
                                        through the decades including the types of materials they are made from. We also
                                        sew to create our very own teddy bear.

                                    </li>
                                </ul>
                                <div class="topics-ul">We Are What We Eat</div>
                                <ul class="fa-ul">
                                    <li><span class="note-fa fa-li"> <i class="fas fa-check"></i></span>(Science,
                                        Geography, D.T.) - This is when Year 2 step into the kitchen and become master
                                        chefs! We will learn about how to live a healthy life style and where our food
                                        comes from.


                                    </li>
                                </ul>
                                <div class="topics-ul">I'm Alive!</div>
                                <ul class="fa-ul">
                                    <li><span class="note-fa fa-li"> <i class="fas fa-check"></i></span>(Science,
                                        Geography) - This is where we learn about how plants and animals live and grow.
                                        We will learn about food chains and life cycles. We even get to watch our very
                                        own chicks hatch and grow!
                                    </li>
                                </ul>
                                <div class="topics-ul">People of the Past</div>
                                <ul class="fa-ul">
                                    <li><span class="note-fa fa-li"> <i class="fas fa-check"></i></span>(History) - We
                                        step back into the past and learn about key figures from British History. Pupils
                                        will also learn about historic buildings such as castles through a visit to
                                        Warwick Castle.

                                    </li>
                                </ul>
                                <div class="topics-ul">The Earth Our Home</div>
                                <ul class="fa-ul">
                                    <li><span class="note-fa fa-li"> <i class="fas fa-check"></i></span>(Science, DT,
                                        Geography, Computing) - Where we enjoy the outdoors and identify the places that
                                        plants and animals live. We will learn about how different places on our planet
                                        have different climates and how this influences the plants and animals that live
                                        there. Year 2 will visit Marston Vale Forest Centre to become ecologists and
                                        explore pond and meadow habitats.


                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="section-content">
                            <div class="pdf-link-container">

                                <div class="pdf-link-btn" (click)="Open_Y2_Brocher_Spring()">
                                    <div>
                                        <span><i class="fas fa-file-pdf"></i></span> Y2 Brochure Spring <span> <i
                                                class="fas fa-download download-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Col 3 -->
        <div class="col-md-2 col-4 d-none d-md-block">
            <div style="margin-right: 10px;">
                <div class="section-content-col-3">
                    <p class="sub-heading-p"><span> <i
                        class="fas fa-download download-icon"></i></span> Downloads</p>
    
                    <div class="pdf-link-container-lg-screen">
    
                        <div class="pdf-link-btn" (click)="Open_Y2_Brocher_Spring()">
                            <div>
                                <span><i class="fas fa-file-pdf"></i></span> Y2 Brochure Spring 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>