<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-4 d-none d-md-block"></div>

            <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">
                <!-- *********************** First Heading Starts Here **************************** -->
                <div class="menu-heading-container">
                    <!-- <div class="menu-headings">{{headerHeading}}</div> -->
                </div>
                <!-- *********************** First Heading Ends Here **************************** -->

                <!-- *********************** Main Content Starts Here **************************** -->
                <div class="main-content">
                    <div>
                        <h4>The Governing Body</h4>
                    </div>
                    <div>
                        <p>
                            The Governing Body has to make sure our school meets the needs of
                            every child so they achieve as well as they possibly can. Together
                            with the headteacher, the Governing Body agrees how the school
                            grows and improves (strategic development), makes sure children
                            learn and achieve to their best ability (accountability) and
                            checks the work of the school (monitoring and evaluation).
                        </p>


                    </div>
                    <div>
                        <p>As a school we have the following committees:</p>
                        <ul>
                            <li>Full Governing Body</li>
                            <li>Finance Personnel & Premises Committee</li>
                            <li>Achievement & Standards</li>
                        </ul>
                    </div>
                    <div class="container">
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let governor of governors">
                                    <td>{{ governor.type }}</td>
                                    <td>
                                        <span *ngFor="let name of governor.name">{{ name }}<br /></span>
                                    </td>
                                    <td>
                                        <span *ngFor="let position of governor.position">{{ position }}<br /></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-4 d-none d-md-block"></div>
        </div>
    </div>
</div>