<div class="container-fluid mw-auto mt-3 mb-3 ">
  <div class="row ">
    <div class="col-md-2 text-center  quick-links-1">
      <a routerLink="our-school">
        <i class="fas fa-home fa-3x d-block mx-auto text-white mt-3"></i>
        <p>Our School</p>
      </a>
    </div>
    <div class="col-md-2 text-center  quick-links-2">
      <a routerLink="our-school">
        <i class="fas fa-envelope fa-3x text-white mt-3 "></i>
        <p>Our Curriculum</p>
      </a>
    </div>
    <div class="col-md-2 text-center quick-links-3">
      <a routerLink="our-school">
        <i class="fas fa-briefcase fa-3x text-white mt-3 "></i>
        <p>Parents</p>
      </a>
    </div>
    <div class="col-md-2 text-center quick-links-4">
      <a routerLink="our-school">
        <i class="fas fa-users fa-3x text-white mt-3 "></i>
        <p>Pupils</p>
      </a>
    </div>
    <div class="col-md-2 text-center quick-links-5">
      <a routerLink="our-school">
        <i class="fas fa-info-circle fa-3x text-white mt-3 "></i>
        <p>Safeguarding</p>
      </a>
    </div>
    <div class="col-md-2 text-center quick-links-6">
      <a routerLink="our-school">
        <i class="fas fa-cogs fa-3x text-white mt-3 "></i>
        <p>Send</p>
      </a>
    </div>
  </div>
</div>
