<div class=" main-container">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-4 d-none d-md-block">

            </div>


            <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

                <!-- *********************** First Heading Starts Here **************************** -->
                <div class="menu-heading-container">
                    <!-- <div class="menu-headings">{{headerHeading}}</div> -->
                </div>
                <!-- *********************** First Heading Ends Here **************************** -->

                <!-- *********************** Main Content Starts Here **************************** -->
                <div class="main-content">
                    <h4>School Contact Details</h4>

                    <ul>
                        <li> DENBIGH PRIMARY SCHOOL</li>
                        <li>Denbigh Road</li>
                        <li> Luton</li>
                        <li> Beds</li>
                        <li> LU3 1NS</li>
                        <li> 01582 571597</li>
                    </ul>







                </div>

                <div class="col-md-2 col-4 d-none d-md-block">

                </div>
            </div>
        </div>
    </div>