<div class=" main-container">

    <div class=" main-container">



        <div class="container-fluid">

            <div class="row">

                <!-- Column 1 - 15% width on larger screens -->
                <div class="col-md-2 col-4 d-none d-md-block">
                    <!-- <p>Column 1</p> -->
                </div>

                <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

                    <div class="menu-heading-container">
                        <div class="menu-headings">{{headerHeading}}</div>
                    </div>

                    <div class="main-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="img-div">
                                        <img src="assets/safegaurding-team/Alan-Hodges-Final.jpg"
                                            alt="Person Image">
                                    </div>

                                    <div class="card-body">
                                        <h3>Mr A Hodges</h3>
                                        <p>Headteacher</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="img-div">
                                        <img src="assets/safegaurding-team/Natalie_McKiernan.jpg"
                                            alt="Person Image">
                                    </div>

                                    <div class="card-body">
                                        <h3>Mrs N McKiernan</h3>
                                        <p>Deputy Headteacher</p>
                                        <p>Designated Safeguarding Lead Officer</p>
                                        <p>PEVENT Single Point of Contact</p>
                                        <p>Operation Encompass Officer</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="img-div">
                                        <img src="assets/safegaurding-team/K-shafi.JPG" alt="Person Image">
                                    </div>

                                    <div class="card-body">
                                        <h3>Mr K Shafi</h3>
                                        <p>Chair of Governors</p>
                                        <p>Safeguarding Link Governor</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="img-div">
                                        <img src="assets/safegaurding-team/Lisa-Morris.jpg" alt="Person Image">
                                    </div>

                                    <div class="card-body">
                                        <h3>Miss L Morris</h3>
                                        <p>Assistant Headteacher</p>
                                        <p>Deputy Designated Safeguarding Office</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="img-div">
                                        <img src="assets/safegaurding-team/Maria-Smith.jpg" alt="Person Image">
                                    </div>

                                    <div class="card-body">
                                        <h3>Mrs M Smith</h3>
                                        <p>Assistant Headteacher</p>
                                        <p>Deputy Designated Safeguarding Office</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="img-div">
                                        <img src="assets/safegaurding-team/Debbie-Stanfield.jpg"
                                            alt="Person Image">
                                    </div>

                                    <div class="card-body">
                                        <h3>Ms D Stanfield</h3>
                                        <p>Business Manager</p>
                                        <p>Safeguarding Administrator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                Contact Details
                            </div>
                            <div>
                                <ul>
                                    <li>Mrs N McKiernan</li>
                                    <li>Designated Safeguarding Lead Officer</li>
                                    <li>Denbigh Primary School</li>
                                    <li>Email: <a
                                            href="mailto:nmckiernan@denbighprimary.com">nmckiernan@denbighprimary.com</a>
                                    </li>
                                    <li>Telephone: (01582) 571597</li>
                                </ul>

                            </div>
                        </div>

                    </div>

                    <!-- pdf-viewer.component.html -->


                </div>

                <!-- Column 3 - 15% width on larger screens -->
                <div class="col-md-2 col-12 d-none d-md-block">
                    <!-- <p>Column 3</p> -->
                </div>
            </div>


        </div>

    </div>

</div>