<div class=" main-container">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-4 d-none d-md-block">
        col -1
      </div>


      <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">
        <div class="menu-heading-container">
          <div class="menu-headings">{{headerHeading}}</div>
        </div>

        <div class="main-content">
          <div class=" row">
            <div class="col-md-6 col-12">
              <div>
                <div class="main-menu-content">
                  <div class="main-menu extented-school-provision-heading">
                    <div>
                      <i class="fa-solid fa-mug-hot fa-fade"></i> Breakfast Club <i
                        class="fa-solid fa-utensils fa-fade"></i>
                    </div>
                  </div>

                  <div>
                    <div class="group">
                      <p>
                        Breakfast Club runs daily from 08:00 until 08:35. It is staffed by at five members of school
                        staff.
                        Breakfast club is open to children from Reception to Year 6. Breakfast Club is free of charge
                        for
                        all
                        pupils. A non-compulsory breakfast is offered to children who attend and includes toast, fruit
                        and
                        cereal. A variety of activities are on offer each day.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div>
                <div class="main-menu-content">
                  <div class="main-menu extented-school-provision-heading">
                    <div>
                      <i class="fa-solid fa-mug-hot fa-fade"></i> Breakfast Club <i
                        class="fa-solid fa-utensils fa-fade"></i>
                    </div>
                  </div>

                  <div>
                    <div class="group">
                      <p>
                        Breakfast Club runs daily from 08:00 until 08:35. It is staffed by at five members of school
                        staff.
                        Breakfast club is open to children from Reception to Year 6. Breakfast Club is free of charge
                        for
                        all
                        pupils. A non-compulsory breakfast is offered to children who attend and includes toast, fruit
                        and
                        cereal. A variety of activities are on offer each day.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>



        <!-- Extra Curricular Activities Starts here -->
        <div class="main-content">
          <div class="main-menu extented-school-provision-heading">
            <div> <i class="fa-solid fa-baseball fa-fade"></i>Extra Curricular Activities<i class="fa-solid fa-baseball fa-fade"></i></div>
          </div>

          <div class="section_divider">
            <div class="after-school">
              KS1 - After School
            </div>
            <div class=" mt-4">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4">
                <!-- Column 1 -->
                <div class="col">
                  <div class="card">
                    <h5 class="card-title">Monday</h5>
                    <div class="card-body">

                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 2 Sports</span> (30)
                          M. Turan & A.Zafar
                          LSH
                          Release from: LSH</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span> <span class="bold-font">Year 1 Cooking (8)</span>
                          S. Fallon & C.Whelan
                          Cooking Room
                          Release from: LSH</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 2 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Tuesday - CPD</h5>
                      <ul class="fa-ul">
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span> <span class="bold-font">KS1 Art Club</span>
                          N.Mahmood & M.Bowman
                          Dolphin Class
                          Release from: Gallery</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 1 & 2 Reading Club</span>
                          M.Ball & C.Whelan
                          The Burrow/ Reading Den
                          Release from: LSH</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 3 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Wednesday</h5>
                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 1 Sports</span>
                          K. Devers
                          LSH/ Dance Studio
                          Release from: LSH</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 2 Cooking (8)</span>
                          S. Fallon & M.Ball
                          Cooking Room
                          Release from: LSH</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 2 & 3 STEM Club</span>
                          N. Mahmood & M.Bowman
                          EYFS
                          Release from: Gallery</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 4 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Thursday</h5>
                      <ul class="fa-ul">
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">KS1 Games Club</span>
                          M.Ball & N.Mahmood
                          The Burrow
                          Release from: Gallery</li>

                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 5 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Friday</h5>
                      <ul>

                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="section_divider">
            <div class="after-school">
              KS2 - After School
            </div>
            <div class=" mt-4">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4">
                <!-- Column 1 -->
                <div class="col">
                  <div class="card">
                    <h5 class="card-title">Monday</h5>
                    <div class="card-body">

                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Netball (30)</span>
                          R. Hodge & D.Bello
                          USP
                          Release from: 4CD</li>
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Football (30)</span>
                          K. Devers & C.Davies
                          FPitch
                          Release from: 3AA</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">YKS2 Gardening Club (12)</span>
                          G.Turfrey
                          Rooftop Garden
                          Release from: Gallery</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 6 Maths Club</span>
                          E.O’Shaughnessy
                          6HD
                          Release from: Gallery</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 3 & 4 Computing Club</span>
                          K.Puran & C.Summan
                          The Hive
                          Release from: 3SR</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 2 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Tuesday - CPD</h5>
                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 3 & 4 Football (30)</span>
                          K. Devers
                          FPitch/ LSH
                          Release from: 3AA</li>
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Striking & F</span>
                          K. Puran & C. Summan
                          USP/ LSH
                          Release from: LSH</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 6 Maths Club</span>
                          E.O’Shaughnessy & H.Waite
                          6HD
                          Release from: Gallery</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 3 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Wednesday</h5>
                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 3 & 4 Net & Wall</span>
                          D. Bello & A.Zafar
                          USP/ LSH
                          Release from: 3AA</li>
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Invasion G</span>
                          K. Puran & J.Notman
                          USP/ USH
                          Release from: 4CD</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 3 & 4 Art Club</span>
                          E.Jackson & J.Roper
                          Art Room
                          Release from: 4SK</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 6 Maths Club</span>
                          E.O’Shaughnessy & H.Waite
                          6HD
                          Release from: Gallery</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Computing Club</span>
                          R. Hodge & C.Whelan
                          The Hive
                          Release from: 3SR</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 4 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Thursday</h5>
                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Cricket</span>
                          K. Devers & K. Puran
                          USP/ USH
                          Release from: 3AA</li>
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 3 & 4 Invasion G</span>
                          D. Bello & M. Turan
                          USP/ LSH
                          Release from: LSH</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">Year 5 & 6 Art Club</span>
                          E.Jackson & J.Roper
                          Art Room
                          Release from: 4SK</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">KS2 Games Club</span>
                          C.Summan & A.Zafar
                          The Hive
                          Release from: 3SR</li>
                        <li class="blue"><span class="fa-li"><i class="fas fa-check"></i></span>Year 6 Maths Club
                          H.Waite
                          6HD
                          Release from: Gallery</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

                <!-- Column 5 -->
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Friday</h5>
                      <ul class="fa-ul">
                        <li class="red"><span class="fa-li"><i class="fas fa-check"></i></span><span class="bold-font">KS2 Girls
                          Football</span>
                          R. Darby &
                          K.Devers
                          USP/ USH
                          Release from: 3AA</li>
                        <!-- Add more points as needed -->
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Extra Curricular Activities Ends here -->







      </div>


      <div class="col-md-2 col-4 d-none d-md-block">
        col-3
      </div>
    </div>
  </div>
</div>