<div class=" main-container">

  <div class="container-fluid">

    <div class="row">

      <!-- Column 1 - 15% width on larger screens -->
      <div class="col-md-2 col-4 d-none d-md-block">

      </div>

      <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">
        <div class="menu-heading-container">
          <div class="menu-headings">{{headerHeading}}</div>
        </div>

        <div>
          <div class="main-content">
            <div class="main-menu-content">
              <div class="main-menu">
                <div>
                  Uniform Policy
                </div>
              </div>

              <div>
                <div class="group">
                  <p>
                    Children are expected to look smart at Denbigh Primary School and support the uniform policy.
                    Children should wear:
                  </p>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6 col-12">
                <div class="main-group">
                  <div class="submenu_1">
                    GIRL - <span><i class="fa-solid fa-child-dress fa-beat"></i></span>
                  </div>
                  <div class="group">

                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i><span style="color: red;">Red</span> polo shirt
                      (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: navy;">Navy Blue</span>
                      sweatshirt (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: grey;">Grey</span> skirt,
                      <span style="color: grey;">Grey</span> trousers
                      and or grey pinafore dress
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> Suitable flat plain black shoes
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> Optional - (summer term only)
                      Red gingham dress
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="main-group">
                  <div class="submenu_1">
                    BOY - <span><i class="fa-solid fa-child fa-beat"></i></span>
                  </div>
                  <div class="group">

                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i><span style="color: red;">Red</span> polo shirt
                      (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: navy;">Navy Blue</span>
                      sweatshirt (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: grey;">Grey</span> trousers
                      and or grey pinafore dress
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> Suitable flat plain black shoes
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> Optional - (summer term only)
                      Grey tailored shorts
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="line-breaker-container">
            <i class="fa-solid fa-gear fa-spin"></i><div class="line-breaker"></div><i class="fa-solid fa-gear fa-spin"></i>
          </div>

          <div class="main-content">
            <div class="main-menu-content">
              <div class="main-menu">
                <div>
                  PE kit
                </div>
              </div>

              <div>
                <div class="group">
                  <p>
                    PE is an essential part of a child’s education; not only does it highlight the importance of
                    physical health, it teaches teamwork, leadership skills and supports mental health. Wearing a
                    PE kit to school is great for the subject, it raises the profile of PE and places it at the
                    forefront of
                    learning. It also shows PE is valued in your school and highlights how important PE is for a
                    healthy active lifestyle.
                  </p>

                  <p>
                    Pupils should wear the following PE Kit to school on their designated PE days which will ensure
                    that the pupils can take full advantage of their PE slot.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-6 col-12">
                <div class="main-group">
                  <div class="submenu_1">
                    GIRL - <span><i class="fa-solid fa-child-dress fa-beat"></i></span>
                  </div>
                  <div class="group">

                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i><span style="color: red;">Red</span> t-shirt
                      (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: navy;">Navy Blue</span>
                      <span style="color: red;"> red</span> 3⁄4 zip sports top (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: Navy;">Navy Blue</span>
                      sports trouser (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: Navy;">Navy Blue</span>
                      or
                      <span style="color: black; font-weight: 500;">Black</span>
                      leggings or jogging bottoms
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> Trainers
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="main-group">
                  <div class="submenu_1">
                    BOY - <span><i class="fa-solid fa-child fa-beat"></i></span>
                  </div>

                  <div class="group">
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i><span style="color: red;">Red</span> t-shirt
                      (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: navy;">Navy Blue</span>
                      <span style="color: red;"> red</span> 3⁄4 zip sports top (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: Navy;">Navy Blue</span>
                      sports trouser (with school logo)
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> <span style="color: Navy;">Navy Blue</span>
                      or
                      <span style="color: black; font-weight: 500;">Black</span>
                      shorts or jogging bottoms
                    </p>
                    <p>
                      <i class="fa-solid fa-circle-chevron-right"></i> Trainers
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="line-breaker-container">
            <i class="fa-solid fa-gear fa-spin"></i><div class="line-breaker"></div><i class="fa-solid fa-gear fa-spin"></i>
          </div>

          <div class="main-content">
            <div class="main-menu-content">
              <div class="main-menu">
                <div>
                  Swimming Lessons
                </div>
              </div>

              <div class="group">
                Swimming Lessons (part of the national curriculum)

                Swimsuit and towel

                Swimming Kit Bag with school logo - or other
                suitable bag for wet swimming kit
              </div>
            </div>
          </div>

          <div class="line-breaker-container">
            <i class="fa-solid fa-gear fa-spin"></i><div class="line-breaker"></div><i class="fa-solid fa-gear fa-spin"></i>
          </div>

          <div class="main-content">
            <div class="main-menu-content">
              <div class="main-menu">
                <div>
                  JEWELLERY, HAIR AND MAKE UP:
                </div>
              </div>

              <div class="group">
                <p>For safety reasons, children must not wear jewellery to school (except for watches). they
                  have pierced ears, children are only allowed to wear a single set of small studs, which must be
                  removed for P.E sessions. Children who wear any other jewellery will be asked to remove it.</p>

                <p>Hair cuts should be suitable for school - we actively discourage fashion fads (e.g. shaved
                  designs and dyed hair) and we will ask you to get it cut out at the hairdressers.</p>

                <p>Make up and nail varnish are not considered appropriate for school.</p>

                <p>Uniform is available for parents to purchase from the school office.</p>
              </div>
            </div>
          </div>










        </div>
      </div>
      <!-- Column 3 - 15% width on larger screens -->
      <div class="col-md-2 col-12 d-none d-md-block">

      </div>
    </div>
  </div>
</div>
