<div class=" main-container">
    <div class="row">
        <div class="page-banner">
            <img class="page-banner-img" src="assets/slider_images/1.jpeg" alt="">
            <div class="text-overlay menu-headings"><span> <i class="fas fa-graduation-cap"></i></span>
                Life in EYFS</div>

        </div>
    </div>

    <div class="row">
        <!-- Col 1 -->
        <div class="col-md-2 col-4 d-none d-md-block">

        </div>
        <!-- Col 2 -->
        <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="col-section">
                        <div class="section-content">
                            <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> English</p>

                            <p class="content-p">Welcome to Reception, the Early Years Foundation Stage, (EYFS). This is
                                your child’s first year in Denbigh Primary School, and we are very excited that you have
                                joined us.
                                In EYFS, we are committed to working with our families to ensure our pupils have the
                                best start to their school education. We aspire for our pupils to become resilient and
                                confident, building new friendships and supporting each other.
                            </p>

                            <p class="content-p">We develop their communication skills and independence, which enables
                                them to lead their own learning through their play and exploration. Our pupils become
                                creative and critical thinkers, challenging themselves and others to do their very best.
                            </p>

                            <p class="content-p">
                                In EYFS we strive to give each child the Foundations; the essential skills and the
                                experiences that they need to achieve as they grow and learn.
                            </p>

                            <p>

                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="col-section">
                     <div>
                        <img src="" alt="">
                     </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Col 3 -->
        <div class="col-md-2 col-4 d-none d-md-block">

        </div>
    </div>
</div>