

ul {
  list-style-type: none;
  padding-bottom: 10px;
}

li {
  padding: 7px;
  font-size: 18px;
}

.fa-check {
  color: rgb(247, 200, 12);
}


.toggler-bar {
  background-color: green;
}
.hidden {
  height: 0;
}

.toggler {
  text-align: left;
}

.arrow-up i::before {
  content: "\f077"; /* Unicode for up arrow */
}

.arrow-down i::before {
  content: "\f078"; /* Unicode for down arrow */
}

.toggler {
  transition: transform 0.3s ease; /* Add a smooth transition to the transform property */
}

.arrow-up i::before {
  content: "\f077"; /* Unicode for up arrow */
  transform: rotate(180deg); /* Rotate the up arrow by 180 degrees */
}

.arrow-down i::before {
  content: "\f078"; /* Unicode for down arrow */
}

/* Add this style to rotate the arrow when it changes */
.toggler.up i::before {
  transform: rotate(180deg); /* Rotate the arrow for the up position */
}
