<div class=" main-container">
    <div class="row">
        <div class="page-banner">
            <img class="page-banner-img" src="assets/slider_images/1.jpeg" alt="">
            <div class="text-overlay menu-headings"><span> <i class="fas fa-graduation-cap"></i></span>
                Year 4 Overview</div>
        </div>
    </div>

    <div class="row">
        <!-- Col 1 -->
        <div class="col-md-2 col-4 d-none d-md-block">

        </div>

        <!-- Col 2 -->
        <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

            <div class="row">

                <div class="col-md-12 col-12">

                    <div class="col-section">


                        <div class="section-content">

                            <p class="heading-p"><span><i class="fas fa-star"></i></span> Life in Year 4</p>

                            <p class="content-p">In Year 4, students will be taught by Mrs. Diggines, Mrs. Semeraro, and
                                Ms. Keshopersad. The
                                curriculum for the year promises a rich and engaging learning experience across
                                different subjects.
                            </p>



                        </div>

                        <div class="section-content">
                            <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> IPC</p>

                            <div>

                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <p class="content-p">The first term delves into the fascinating world of Ancient
                                            Egypt, exploring historical connections with Ancient Sumer. The curriculum
                                            covers both human and physical geography, and art lessons involving the
                                            children creating Egyptian artifacts using a range of materials like pencil,
                                            clay, and paint.
                                        </p>
                                    </div>

                                    <div class="col-md-4 col-12">
                                        <div>
                                            <img src="../.../../../../assets/year-four/year-4-pic-1.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <div>
                                            <img src="../.../../../../assets/year-four/year-4-pic-1.jpg" alt="">
                                        </div>

                                    </div>

                                    <div class="col-md-8 col-12">
                                        <p class="content-p">Moving into the second half of the Autumn term, the focus
                                            shifts toward the scientific exploration of electricity. Students gain
                                            hands-on experience by designing and constructing model robots incorporating
                                            circuits, with lights, sounds, and movement without the topic of "Bright
                                            Sparks”. The rest of the term continues with "How Humans Work" with an
                                            exploration of scientific topics such, as nutrition, digestion, and
                                            skeletons.
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 col-12">

                                        <p class="content-p">As the academic year progresses, in the Spring term the
                                            curriculum shifts towards "The Romans" in the third term. This section
                                            explores the impact of the Roman Empire on Britain, covering historical
                                            aspects and integrating geography to understand both physical and human
                                            elements. In the second half of the term, we begin “Go with the Flow," where
                                            students dive into scientific concepts of the water cycle, paralleled with a
                                            geographic exploration of physical and human aspects. Design and Technology
                                            (DT) takes on a hands-on approach, incorporating woodwork and mechanisms
                                            into the curriculum.
                                        </p>
                                    </div>

                                    <div class="col-md-4 col-12">

                                        <div>
                                            <img src="../.../../../../assets/year-four/year-4-pic-1.jpg" alt="">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-12">

                                        <div>
                                            <img src="../.../../../../assets/year-four/year-4-pic-1.jpg" alt="">
                                        </div>

                                    </div>

                                    <div class="col-md-8 col-12">

                                        <p class="content-p">In the Summer term, "Look Hear," focuses on the scientific
                                            principles of sound, particularly understanding pitch and volume. This
                                            three-week module provides a concentrated exploration of auditory concepts.
                                            The final term explores the theme of "Vanishing Rainforests." Integrating
                                            geography, science, and history, students delve into concepts such as
                                            hemispheres, the equator, climate zones, and biomes. The curriculum also
                                            touches on the
                                        </p>
                                    </div>


                                </div>

                                <div class="row">


                                    <div class="col-md-8 col-12">

                                        <p class="content-p">achievements of non-European civilizations, drawing
                                            connections with British history, as seen through the growth and importance
                                            of the cocoa trade. Design and Technology (DT) take a culinary turn, with
                                            students engaging in cooking and nutrition activities, designing tropical
                                            fruit drinks, and even creating chocolates.
                                        </p>
                                    </div>

                                    <div class="col-md-4 col-12">

                                        <div>
                                            <img src="../.../../../../assets/year-four/year-4-pic-1.jpg" alt="">
                                        </div>

                                    </div>


                                </div>

                            </div>
                        </div>

                        <div class="section-content">
                            <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> Mathematics</p>
                            <p class="content-p">As part of Denbigh’s Mastery approach pupils acquire a deep, long-term,
                                secure, and adaptable understanding of mathematics. Children develop a solid
                                understanding of mathematics to apply these skills in everyday life. Representation and
                                structure focus on how concepts in mathematics are presented in different ways and
                                forms:
                            </p>

                            <div class="row row-img">
                                <div class="col-md-2 col-12">
                                    <div class="section-image">
                                        <img src="../../../assets/year-four/Picture3.jpg" alt="">
                                    </div>

                                </div>

                                <div class="col-md-3 col-12">
                                    <div class="section-image">
                                        <img src="../../../assets/year-four/Picture4.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-md-3 col-12">
                                    <div class="section-image">
                                        <img src="../../../assets/year-four/Picture5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <div class="section-image">
                                        <img src="../../../assets/year-four/Picture6.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-2 col-12">
                                    <div class="section-image row-img">
                                        <img src="../../../assets/year-four/Picture7.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="section-content">

                                <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> Year 4 long term
                                    plan: </p>


                                <div class="section-image row-img">
                                    <img src="../../../assets/year-four/year-4long-term-plan.png" alt="">
                                </div>

                                <p class="content-p">As part of Denbigh’s Mastery approach pupils acquire a deep,
                                    long-term,
                                    secure, and adaptable understanding of mathematics. Children develop a solid
                                    understanding of mathematics to apply these skills in everyday life. Representation
                                    and
                                    structure focus on how concepts in mathematics are presented in different ways and
                                    forms:
                                </p>
                                <div class="row">
                                    <div class="col-md-5 col-12">
                                        <p class="content-p">The multiplication tables check (MTC) is statutory for all
                                            year 4 pupils The purpose of the MTC is to determine whether pupils can
                                            recall their times tables fluently, which is essential for future success in
                                            mathematics. It will help schools to identify pupils who have not yet
                                            mastered their times tables so that additional support can be provided
                                        </p>

                                        <p class="content-p">In 2024, schools must administer the MTC to all eligible
                                            year 4 pupils
                                            between Monday 3 June and Friday 14 June</p>
                                    </div>


                                    <div class="col-md-7 col-12">
                                        <div class="section-image row-img">
                                            <img src="../../../assets/year-four/Picture8.png" alt="">
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="section-content">
                                <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> English </p>

                                <p class="content-p">In 2024, schools must administer the MTC to all eligible
                                    year 4 pupils
                                    between Monday 3 June and Friday 14 June</p>

                                <div class="row">

                                    <div class="col-md-10 col-12">
                                        <p class="content-p">Starting the school year, we will begin reading "Pharaoh in
                                            the Bath" by Jeremy Strong. We'll be writing about the main character,
                                            Pharaoh, by describing him, creating fact files, writing diary entries, news
                                            reports, and instructions. Pharaoh's quirky adventures will be our
                                            inspiration. We'll explore his appearance and personality, and dive into the
                                            imaginative world crafted by Jeremy Strong. Our writing will let us
                                            experience Pharaoh's thoughts and adventures, from capturing the craziness
                                            in news reports to creating step-by-step instructions for mummification
                                        </p>
                                    </div>

                                    <div class="col-md-2 col-12">

                                        <div class="section-image-row ">
                                            <img src="assets/year-four/jeremy_strong.png" alt="">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-2 col-12">

                                        <div class="section-image-row ">
                                            <img src="assets/year-four/thewildrobot.png" alt="">
                                        </div>

                                    </div>

                                    <div class="col-md-10 col-12">
                                        <p class="content-p">In the second half of the autumn term, we will be reading
                                            "The Wild Robot" by Peter Brown. Our writing focus will include describing
                                            the setting, crafting non-chronological reports, storytelling, and engaging
                                            in a debate about artificial intelligence.
                                        </p>
                                    </div>


                                </div>

                                <div class="row">

                                    <div class="col-md-10 col-12">
                                        <p class="content-p">In the Spring term, we are immersing ourselves in the
                                            magical world of "Harry Potter and the Philosopher's Stone." As we explore
                                            the enchanting narrative, our writing endeavours will encompass a variety of
                                            styles. We will master the art of formal letter writing, capturing the
                                            essence of our favourite characters and their experiences at Hogwarts.
                                            Additionally, we will channel our creativity into crafting poetry inspired
                                            by the wizarding wonders that unfold within the pages. Furthermore, we'll
                                            dive into the meticulous world of instruction writing, providing clear and
                                            concise guidelines as if we were wizards in training. The pinnacle of our
                                            journey will be a visit to the Harry Potter Studios, where we'll draw
                                            inspiration for our writing from the captivating sets and magical
                                            atmosphere. Get ready for a term filled with literary magic!
                                        </p>
                                    </div>

                                    <div class="col-md-2 col-12">

                                        <div class="section-image-row ">
                                            <img src="assets/year-four/harrypotter.png" alt="">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-2 col-12">

                                        <div class="section-image-row ">
                                            <img src="assets/year-four/journey.png" alt="">
                                        </div>

                                    </div>

                                    <div class="col-md-10 col-12">
                                        <p class="content-p">Writing in our final term we will base our writing on
                                            "Journey" by Aaron Becker. We'll be having fun with playwriting, turning the
                                            exciting story into a script. Students will get to act out the characters
                                            and bring the adventure to life on paper. Alongside this, we're also writing
                                            adventure stories, exploring our imaginative tales of discovery.
                                        </p>
                                    </div>


                                </div>

                            </div>

                            <div class="section-content">
                                <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> Year 4 Writing
                                    Criteria: </p>

                                <div class="row">
                                    <div class="col-md-12 col-12" style="padding: 70px;">
                                        <div class="section-image row-img">
                                            <img src="assets/year-four/criteria.png" alt="">
                                        </div>
                                    </div>

                                </div>


                            </div>



                            <div class="section-content">
                                <p class="sub-heading-p"><span><i class="fas fa-flag"></i></span> Timetable </p>

                                <p class="content-p">We have a busy timetable in Year 4 with reciprocal reading lessons,
                                    swimming, PE, computing, music, French, RE, and art in addition to maths, English,
                                    and IPC. Please see an example timetable below.
                                </p>

                                <div class="row">
                                    <div class="col-md-12 col-12" style="padding: 20px;">
                                        <div class="section-image row-img">
                                            <img src="assets/year-four/timetable.png" alt="">
                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>

                        <div class="section-content">
                            <div class="pdf-link-container">

                                <div class="pdf-link-btn" (click)="Open_Y4_Brocher_Spring()">
                                    <div>
                                        <span><i class="fas fa-file-pdf"></i></span> Y4 Brochure Spring <span> <i
                                                class="fas fa-download download-icon"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Col 3 -->
        <div class="col-md-2 col-4 d-none d-md-block">
            <div style="margin-right: 10px;">
                <div class="section-content-col-3">
                    <p class="sub-heading-p"><span> <i class="fas fa-download download-icon"></i></span> Downloads</p>

                    <div class="pdf-link-container-lg-screen">

                        <div class="pdf-link-btn" (click)="Open_Y4_Brocher_Spring()">
                            <div>
                                <span><i class="fas fa-file-pdf"></i></span> Y4 Brochure Spring
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>