<div class=" main-container">

    <div class=" main-container">



        <div class="container-fluid">

            <div class="row">

                <!-- Column 1 - 15% width on larger screens -->
                <div class="col-md-2 col-4 d-none d-md-block">
                    <!-- <p>Column 1</p> -->
                </div>

                <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

                    <div class="menu-heading-container">
                        <div class="menu-headings">{{headerHeading}}</div>
                    </div>

                    <div class="main-content">

                        <div>
                            Our Vision
                        </div>

                        <div>
                            <p>
                                All children have a right to be cared for and protected, protecting them is everyone’s
                                responsibility. Denbigh Primary School is committed to safeguarding and promoting the
                                welfare of children and expects all staff, volunteers and visitors to share this
                                commitment.
                            </p>

                            <p>
                                We have a number of policies and procedures in place that contribute to our safeguarding
                                commitment, including our Safeguarding and Child Protection Policy. <span><a
                                        href="">click here</a></span> to view
                                the policies section.
                            </p>
                            <p>
                                The best interests of the children will always be our priority. As such, sometimes we
                                may need to share information and work in partnership with other agencies, when there
                                are concerns about a child's welfare. We will ensure that our concerns about our pupils
                                are discussed with parents/carers in the first instance, unless we have reason to
                                believe that this would be contrary to the child's welfare.
                            </p>

                            <p>
                                The Safeguarding Management Team
                            </p>

                        </div>

                        <div>
                            What you can do
                        </div>

                        <div>
                            Parents and carers play a role in safeguarding children in their community.


                        </div>

                        <div>
                            <p>
                                If you have any concerns, no matter how small, you should report them to someone who you
                                trust will listen. The school has a designated child protection team for this purpose.
                                Parents and children should speak to a member of the team or the Headteacher if they
                                have any concerns about a child.
                            </p>
                            <p>
                                Alternatively share your concern with Luton Children’s Services Multi Agency
                                Safeguarding Hub (MASH):
                            </p>
                            <ul>
                                <li>
                                    Telephone No. 01582 547653 www.mash@luton.gov.uk
                                </li>
                                <li>
                                    Out of Hours and weekends Tel No. 03003008123
                                </li>
                            </ul>

                            <p>
                                If you have any concerns about the conduct of a member of staff, volunteer or contractor
                                working at Denbigh Primary School, please speak directly to the Headteacher or Chair of
                                Governors.
                            </p>

                            <p>
                                Alternatively share your concern with the Local Authority Designated Officer (LADO):
                            </p>

                            <ul>
                                <li>
                                    Telephone No. 01582 548069
                                </li>
                            </ul>

                            <p>
                                If you think a child or young person may be in immediate danger, call 999.
                            </p>

                            <p>
                                To be signposted to other useful websites and support services, please <span><a
                                        href="">click here</a></span>click here to access the Links section within our
                                Safeguarding Hub.
                            </p>
                        </div>

                    </div>

                    <!-- pdf-viewer.component.html -->


                </div>

                <!-- Column 3 - 15% width on larger screens -->
                <div class="col-md-2 col-12 d-none d-md-block">
                    <!-- <p>Column 3</p> -->
                </div>
            </div>


        </div>

    </div>

</div>