<div class=" main-container">

    <div class="row">
        <div class="page-banner">
            <img class="page-banner-img" src="assets/slider_images/1.jpeg" alt="">
            <div class="text-overlay menu-headings"><span> <i class="fas fa-utensils lunch-icon"></i></span> SCHOOL
                LUNCH MENU</div>

        </div>
    </div>


    <div class="row">
        <!-- Col 1 -->
        <div class="col-md-2 col-4 d-none d-md-block">

        </div>

        <!-- Col 2 -->
        <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">
            <!-- <div class="row">
                <div class="menu-heading-container">
                    <div class="menu-headings">{{headerHeading}}</div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="col-section">
                        <div class="section-heading">
                            Denbigh Menu Week - 1
                        </div>

                        <div class="section-image">
                            <img src="assets/temp-images/Denbigh-Lunch.jpeg" alt="">
                            <span class="section-image-text">Your Text Here</span>

                        </div>

                        <div class="section-content">
                            <button class="btn btn-primary" style="min-width: 100%;"
                                (click)="openPdfInNewTab_Week_1()"><span> <i class="fas fa-bars"></i></span> Click Here
                                to View Week 1
                                Menu</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="col-section">
                        <div class="section-heading">
                            Denbigh Menu Week - 2
                        </div>
                        <div class="section-image">
                            <img src="assets/temp-images/Denbigh-Lunch.jpeg" alt="">
                            <span class="section-image-text">Your Text Here</span>
                        </div>
                        <div class="section-content">
                            <button class="btn btn-primary" style="min-width: 100%; "
                                (click)="openPdfInNewTab_Week_2()"><span> <i class="fas fa-bars"></i></span> Click Here
                                to View Week 2
                                Menu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Col 3 -->
        <div class="col-md-2 col-12 d-none d-md-block">

        </div>
    </div>
</div>