/* You can add global styles to this file, and also import other style files */
/* ============================ Common CSS ====================================== */

/* Define root colors */
:root {
  --primary-color: #002244;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
}

/* Use root colors in your styles */
body {
  /* background-color: var(--primary-color);
  color: var(--secondary-color); */
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: "Montserrat Alternates", sans-serif;
  /* font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif; */
}

/* Main Layout Styles For Each Page Starts Here */
.main-container {
  padding-top: 90px;
  background-color: #f0f0f0;
}

.page-banner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.page-banner img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Text color */
  font-size: 28px; /* Text font size */
  font-weight: 600; /* Text font weight, adjust as needed */
  text-align: center; /* Align the text in the center */
  z-index: 2;
  background-color: rgba(191, 221, 21, 0.493);
  padding: 15px;
  border-radius: 60px;
}

.col-section {
  background-color: rgba(235, 232, 229, 0.199);
  border-radius: 10px;
  /* margin-right: 10px; */
}

.section-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
}

.heading-p {
  font-size: 24px;
  font-weight: 600;
  background-color: rgba(245, 18, 2, 0.664);
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.sub-heading-p {
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(245, 18, 2, 0.664);
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  color: white;
}

.heading-ul {
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(236, 181, 63, 0.178);
  padding: 5px;
  padding-left: 30px;
  border-radius: 5px;
  color: rgb(4, 92, 37);
  margin-left: 20px;
  max-width: 200px;
}

.topics-ul {
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(53, 230, 106, 0.178);
  padding: 3px;
  padding-left: 30px;
  border-radius: 5px;
  color: rgb(4, 92, 37);
  margin-left: 20px;
  max-width: 300px;
}

.content-p {
  background-color: rgba(230, 200, 199, 0.192);
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
}

.pdf-link-container {
  margin-bottom: 20px;
  padding:20px;
  display: none; 

}

.pdf-link-btn {
 
  font-size: 18px;
  background-color: rgba(245, 18, 2, 0.664);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.pdf-link-btn:hover {
  background-color: rgba(65, 168, 18, 0.664);
  transform: scale(1.05); /* Slight zoom effect on hover */
}
/* Main Layout Styles For Each Page Ends Here */

@media (max-width: 767px) {
  .col-section {
    padding: 20px;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Text color */
    font-size: 14px; /* Text font size */
    font-weight: 600; /* Text font weight, adjust as needed */
    text-align: center; /* Align the text in the center */
    z-index: 2;
    background-color: rgba(191, 221, 21, 0.493);
    padding: 20px;
    border-radius: 60px;
  }
  .col-section {
    padding: 15px;
  }

  .heading-p,
  .sub-heading-p {
    font-size: 14px;
    font-weight: 600;

    padding: 10px;
  }

  .content-p {
    padding: 20px;
    font-size: 14px;
    border-radius: 5px;
    text-align: left;
  }

  .link-span {
    font-size: 12px;
    color: red;
  }

  li {
    font-size: 14px;
  }
  .pdf-link-container {
    margin-bottom: 20px;
    padding: 20px;
    display: block;
  }

  .pdf-link-btn {
    font-size: 18px;

  }
}

/* Media Qery for Each and every Layout Starts here */

/* Media Qery for Each and every Layout Ends here */

.menu-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  background-color: var(--primary-color) !important;
  color: white;
  margin-bottom: 20px;
}

.menu-headings {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

/* Common Styles */

/******************************************************************* */

.content-bg {
  background-color: #e9f1f1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.content-container {
  padding: 40px;
}

.page-content-para-heading {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}
.page-content-para {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  text-align: justify;
  /* font-family: 'Roboto', sans-serif; */
}

.page-content-para p {
  font-size: 14px;
}

/* ****************************************************************** */

.main-menu {
  color: white;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  background-color: rgb(86, 100, 7);
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
}

.main-menu-content {
  background-color: #e9f1f1;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  text-align: left;
}

.submenu_1 {
  color: rgb(223, 187, 47);
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.6rem;
  background-color: #380f0b;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 25px;
  font-family: "Nunito Sans", sans-serif;
}

.main-content {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: rgb(238, 236, 236); */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-group {
  background-color: #c3eef9;
  border-radius: 25px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.group {
  padding-bottom: 6px;
  padding-left: 20px;
  padding-top: 6px;
  margin-top: 6px;
}

.group:hover .name {
  background-color: var(--hover-color) !important;
  color: var(--primary-color);
  padding-bottom: 5px;
  /* Add your desired hover background color */
}

.group:hover .designation {
  color: var(--primary-color);
  padding-bottom: 5px;
  /* Add other hover styles as needed */
}

.fa-graduation-cap {
  padding-right: 8px;
  padding-left: 8px;
}

.fa-circle-chevron-right {
  padding-right: 8px;
  color: rgb(223, 187, 47);
}

/* line-breaker.component.css */

.line-breaker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 3vh; */
}

.line-breaker {
  width: 800px;
  /* Adjust the width as needed */
  height: 4px;
  border-radius: 40px;
  /* Adjust the height as needed */
  background-color: rgb(190, 226, 192);
  /* Adjust the color as needed */
  margin-left: 10px;
  margin-right: 10px;
}

.fa-gear {
  color: rgb(190, 226, 192);
}

@media (max-width: 767px) {
  .menu-headings {
    font-size: 1rem;
  }

  .submenu_1 {
    font-size: 0.8rem;
  }
}
