<div class=" main-container">

    <div class=" main-container">



        <div class="container-fluid">

            <div class="row">

                <!-- Column 1 - 15% width on larger screens -->
                <div class="col-md-2 col-4 d-none d-md-block">
                    <!-- <p>Column 1</p> -->
                </div>

                <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

                    <div class="menu-heading-container">
                        <div class="menu-headings">{{headerHeading}}</div>
                    </div>

                    <div class="main-content">

                        <div class="row">
                            <div class="col-md-4 main-cont">
                                <div class="cont">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-div">
                                                <a href="https://www.nspcc.org.uk">
                                                    <img src="assets/safe-links/nspcc.png" alt="Person Image"
                                                        [routerLink]="['https://www.nspcc.org.uk/']">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <h4>NSPCC</h4>
                                                <p>
                                                    Support and tips to help keep children safe. From advice on
                                                    children’s
                                                    mental health to staying safe online. Support for parents and what
                                                    to do
                                                    if you’re worried about a child.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 main-cont">
                                <div class="cont">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-div">
                                                <a href="https://www.ceop.police.uk/Safety-Centre/">
                                                    <img src="assets/safe-links/ceop.png" alt="Person Image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <h4>CEOP</h4>
                                                <p>
                                                    Online Safety support and advice. Report directly, via this website,
                                                    if
                                                    you are worried about online sexual abuse or something has happened
                                                    to
                                                    your child online which has made either you or your child feel
                                                    unsafe,
                                                    scared or worried.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4 main-cont">
                                <div class="cont">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="img-div">
                                                <a href=" https://lutonlscb.org.uk/">
                                                    <img src="assets/safe-links/lcsb.png" alt="Person Image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <h4>LCSB</h4>
                                                <p>
                                                    Information about local safeguarding arrangements and signposting to
                                                    agencies who provide support and advice in the protection of young
                                                    people from all forms of abuse and neglect.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-4 main-cont">
                                <div class="cont">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-div">
                                                <a
                                                    href="https://www.gov.uk/government/publications/prevent-duty-guidance">
                                                    <img src="assets/safe-links/prevent.png"
                                                        alt="Person Image"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <h4>Prevent </h4>
                                                <p>
                                                    Guidance for specified authorities in England and Wales on the duty
                                                    in
                                                    the Counter-Terrorism and Security Act 2015 to have due regard to
                                                    the
                                                    need to prevent people from being drawn into terrorism.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 main-cont">
                                <div class="cont">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-div">
                                                <a href="https://www.operationencompass.org/">
                                                    <img src="assets/safe-links/operation-encompass.png"
                                                        alt="Person Image">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <h4>Operation Encompass</h4>
                                                <p>
                                                    Find out more about Operation Encompass, a police and education
                                                    early
                                                    information safeguarding partnership enabling schools to offer
                                                    immediate
                                                    support to children experiencing domestic abuse.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 main-cont">
                                <div class="cont">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-div">
                                                <a
                                                    href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1181955/Keeping_children_safe_in_education_2023.pdf">
                                                    <img src="assets/safe-links/keeping-children-safe.png"
                                                        alt="Person Image"></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div>
                                                <h4>Keeping Children Safe in Education Sept 2023</h4>
                                                <p>
                                                    Statutory guidance for schools and colleges on safeguarding children
                                                    and
                                                    safer recruitment.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <!-- pdf-viewer.component.html -->


                </div>

                <!-- Column 3 - 15% width on larger screens -->
                <div class="col-md-2 col-12 d-none d-md-block">
                    <!-- <p>Column 3</p> -->
                </div>
            </div>


        </div>

    </div>

</div>