<div class=" main-container">

    <div class=" main-container">



        <div class="container-fluid">

            <div class="row">

                <!-- Column 1 - 15% width on larger screens -->
                <div class="col-md-2 col-4 d-none d-md-block">
                    <!-- <p>Column 1</p> -->
                </div>

                <div class="col-md-8 col-12 bg-secondary_1 col-custom-mobile">

                    <div class="menu-heading-container">
                        <div class="menu-headings">{{headerHeading}}</div>
                    </div>

                    <div class="main-content">

                        <div class="row">
                            <div class="col-md-3 col-12 ">
                               <div class="cont">
                                <div class="icon-font">
                                    <i class="fa-solid fa-chart-column"></i>

                                </div>
                                <div class="center">
                                    <div class="link-title">
                                      <a routerLink="our-statment" routerLinkActive="active-link">  Our Statement</a>
                                    </div>
                                </div>
                               </div>

                            </div>
                            
                            <div class="col-md-3 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-people-group"></i>
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                           <a routerLink="our-team" routerLinkActive="active-link"> Our Team</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-12">
                               <div class="cont">
                                <div class="icon-font">
                                    <i class="fa-solid fa-hand-fist"></i>
                                </div>
                                <div class="center">
                                    <div class="link-title">
                                       <a routerLink="our-policies" routerLinkActive="active-link">  Our Policies</a>
                                    </div>
                                </div>
                               </div>

                            </div>
                            <div class="col-md-3 col-12">
                                <div class="cont">
                                    <div class="icon-font">
                                        <i class="fa-solid fa-link"></i>
    
                                    </div>
                                    <div class="center">
                                        <div class="link-title">
                                            <a routerLink="links" routerLinkActive="active-link"> Links</a>
                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                        </div>

                    </div>

                    <!-- pdf-viewer.component.html -->


                </div>

                <!-- Column 3 - 15% width on larger screens -->
                <div class="col-md-2 col-12 d-none d-md-block">
                    <!-- <p>Column 3</p> -->
                </div>
            </div>


        </div>

    </div>

</div>